@model OfficeBite.Core.Models.DishModels.AllDishesViewModel

@{
    ViewData["Title"] = "Всички ястия";
}
<link rel="stylesheet" href="~/customcss/dishes/allDishes.css" />

<div class="container mt-5">
    <h2 class="mb-4">Управление на менюто</h2>
    <div class="search-bar">
        <input type="text" id="search-input" class="form-control" placeholder="Търсене по ястие...">
    </div>
    <div class="row-category" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-12 d-flex justify-content-center">
            <ul id="menu-flters" class="list-inline" style="display:flex">
                <li class="list-inline-item btn btn-secondary" data-category="all">Всички</li>
                @foreach (var category in Model.Categories)
                {
                    <li class="list-inline-item btn btn-secondary" data-category="@category.Id">@category.Name</li>
                }
            </ul>
        </div>
    </div>
    <div class="row" id="dish-card-container">
        @foreach (var dish in Model.Dishes.OrderBy(c => c.CategoryId))
        {
            <div class="col-md-4 dish-card category-@dish.CategoryId">
                <div class="card">
                    <img src="@dish.ImageUrl" alt="@dish.DishName" class="dish-image" />
                    <div class="card-body">
                        <h5 class="card-title dish-name">@dish.DishName</h5>
                        <p class="card-text dish-price">@dish.DishPrice лв.</p>
                        <p class="card-text dish-description">@dish.Description</p>
                        <div>
                            <p class="card-text dish-status">
                                @if (dish.IsVisible)
                                {
                                    <span>Видимо</span>
                                }
                                else
                                {
                                    <span>Скрито</span>
                                }
                            </p>
                            <div class="buttons-action">
                                <a asp-controller="Dish" asp-action="EditDish" asp-route-id="@dish.DishId" class="btn btn-secondary">Редактирай</a>
                              @if (dish.IsVisible)
                                {
                                    <a asp-controller="Dish" asp-action="HideDish" asp-route-id="@dish.DishId" class="btn btn-secondary">Скрий</a>
                                }
                              else
                              {
                                    <a id="unHide" asp-controller="Dish" asp-action="UnHideDish" asp-route-dishId="@dish.DishId" class="btn btn-secondary">Покажи</a>
                              }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        $('.category').show();


        $('#menu-flters li').on('click', function () {
            var category = $(this).attr('data-category');


            $('.dish-card').hide();


            if (category === 'all') {
                $('.dish-card').show();
            } else {
                $('.category-' + category).show();
            }
        });

        $('#search-input').on('input', function () {
            var searchText = $(this).val().toLowerCase();
            $('.dish-card').hide();

            $('.dish-card').filter(function () {
                return $(this).text().toLowerCase().indexOf(searchText) !== -1;
            }).closest('.dish-card').show();
        });
    });
</script>
