@model OfficeBite.Core.Models.DishModels.AllDishesViewModel

@{
    ViewData["Title"] = "Редактиране на ястие";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <style>
        .card-header {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .form-group {
            justify-content: center;
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
    <div class="scroll-container">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            @ViewData["Title"]
                        </div>
                        <div class="card-body">
                            <form asp-action="EditDish" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label asp-for="@Model.DishName" class="form-label-add-edit">Име на ястието</label>
                                    <input asp-for="DishName" class="form-control" placeholder="Име на ястието" required>
                                    <span asp-validation-for="DishName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model.DishPrice" class="form-label-add-edit">Цена на ястието</label>
                                    <input asp-for="DishPrice" class="form-control" placeholder="Продажна цена на ястието" required>
                                    <span asp-validation-for="DishPrice" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model.Description" class="form-label-add-edit">Описание на ястието</label>
                                    <textarea asp-for="Description" class="form-control" rows="4" placeholder="Описание на ястието" required></textarea>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model.CategoryId" class="form-label-add-edit">Категория на ястието</label>
                                    <select asp-for="CategoryId" class="form-control" required>
                                        <option value="">Изберете категория на ястието</option>
                                        @foreach (var category in Model.Categories)
                                        {
                                            <option value="@category.Id">@category.Name</option>
                                        }
                                    </select>
                                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                                </div>
                                @*   @if (!string.IsNullOrEmpty(Model.ImageUrl))
                                {
                                <input type="hidden" asp-for="ImageUrl" />
                                } *@

                                <div class="form-group">
                                    <label asp-for="ImageFile" class="form-label">Качете нова снимка на ястието</label>
                                    <input asp-for="ImageFile" type="file" class="form-control-file">
                                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                                </div>


                                @* else
                                {
                                <div class="form-group">
                                <label class="form-label">Текуща снимка на ястието</label>
                                <img src="@Model.ImageUrl" class="img-thumbnail" alt="Current Image" style="max-width: 120px;">
                                </div>
                                }
                                *@
                                <input type="hidden" name="dishId" asp-for="DishId" />
                                <div class="form-group text-center">
                                    <button type="submit" class="btn btn-primary">Редактирай ястието</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}