@model OfficeBite.Core.Models.DishModels.DishViewModel
@{
    ViewBag.Title = "Връщане на ястие в менюто";
}
<link rel="stylesheet" href="~/customcss/dishes/unhideDish.css"/>

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title text-center">Име на ястие: @Model.DishName</h3>
                <h3 class="card-title text-center">Цена на ястие: @Model.DishPrice лв.</h3>
                <h3 class="card-title text-center">Описание на ястието: @Model.Description</h3>
                <img class="img" src="@Model.ImageUrl" width="240px" />
                <p  class="message">"Сигурни ли сте, че искате, да върнете това ястие в менюто?"</p>
            </div>
            <div class="card-footer">
                <form asp-action="UnHideDishConfirm" method="post">
                    <input type="hidden" name="dishId" value="@Model.DishId" />
                    <button type="submit" class="btn btn-secondary">Върни ястието</button>
                </form>
                <form asp-action="AllDishes" method="post">
                    <a asp-controller="Dish" asp-action="AllHiddenDishes" class="btn btn-secondary">Откажи</a>
                </form>
            </div>
        </div>
    </div>
</div>