@model OfficeBite.Core.Models.MenuModels.AddDishToMenuViewModel

@{
    ViewBag.Title = "Добавяне на ястие към менюто";
}
<style>
    .selected {
        background-color: darkcyan;
        color: white;
    }

        .selected:hover {
            background-color: darkcyan;
            color: white;
        }
</style>
<h1>Добавяне на ястие към менюто</h1>

<div>
    <form method="post" asp-action="AddDishToMenu" asp-controller="Menu">
        <input type="hidden" id="RequestMenuNumber" name="RequestMenuNumber" value="@Model.RequestMenuNumber" />

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>Изберете ястие:</label>
                    <select id="DishId" class="form-control" multiple>
                        @foreach (var dish in Model.AllDishes.OrderBy(c => c.CategoryId))
                        {
                            <option value="@dish.DishId">@dish.DishName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="selectedDishes">Избрани ястия:</label>
                    <select asp-for="SelectedDishes" class="form-control" id="selectedDishes" name="SelectedDishes" multiple required></select>
                    <span asp-validation-for="SelectedDishes" class="text-danger"></span>
                </div>
                <div class="btn-group">
                    <button type="button" id="addSelectedDishBtn" class="btn btn-primary">Добави</button>
                    <button type="button" id="removeSelectedDishBtn" class="btn btn-danger">Премахни</button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MenuName">Въведете име на менюто:</label>
            <input asp-for="MenuName" class="form-control" placeholder="Име на менюто">
            <span asp-validation-for="MenuName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="MenuTypeId">Изберете тип меню:</label>
            <select asp-for="MenuTypeId" class="form-control" aria-required="true">
                <option value="">Изберете тип на менюто</option>
                @foreach (var menuType in Model.AllMenuTypes)
                {
                    <option value="@menuType.MenuTypeId">@menuType.MenuName</option>
                }
            </select>
            <span asp-validation-for="@Model.MenuTypeId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="form-label-add-edit">Описание на менюто</label>
            <textarea asp-for="Description" class="form-control" aria-required="true" style="resize:none" ></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="SelectedDates" class="form-label-add-edit" required>Изберете дати за обяд</label>
            <input type="text" asp-for="SelectedDates" id="SelectedDate" required data-val="true" style="display: none;" />
            <div class="d-flex flex-wrap">
                @{
                    @for (DateTime date = DateTime.Now; date <= DateTime.Today.AddDays(5); date = date.AddDays(1))
                    {
                        <label class="btn btn-warning mb-2 me-3 p-3 fw-bold date-label" onclick="toggleDateSelection(this)" data-date="@date.ToString("yyyy-MM-dd")">
                            @date.ToString("dd-MM-yyyy") @date.ToString("dddd", new System.Globalization.CultureInfo("bg-BG")).ToUpper()
                        </label>
                    }
                }
                <span id="dateValidationError" class="text-danger" style="display:none;">Поне една дата трябва да бъде избрана.</span>
            </div>
        </div>



        <div class="mb-3">
            <button class="btn btn-warning mb-2 w-100 p-3 fw-bold" id="mark-all" onclick="markAllOptionsOnSubmit()">Маркирай всички преди изпращане</button>
        </div>
        <div class="mb-3">
            <input class="btn btn-warning mb-2 w-100 p-3 fw-bold" type="submit" value="Изпрати ястие към менюто" />
        </div>
    </form>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#addSelectedDishBtn').click(function () {
                $('#selectedDishes').append($('#DishId option:selected'));
                updateSelectedDishes();
            });

            $('#removeSelectedDishBtn').click(function () {
                $('#DishId').append($('#selectedDishes option:selected'));
                updateSelectedDishes();
            });
            $('#mark-all').click(function (e) {
                e.preventDefault();
                markAllOptionsAsSelected();
            });
        });

        function updateSelectedDishes() {
            var selectedDishes = [];
            $('#selectedDishes').find('option').each(function () {
                selectedDishes.push(parseInt($(this).val()));
            });
            $('#SelectedDishes').val(selectedDishes.join(','));
        }

        function markAllOptionsAsSelected() {
            $('#selectedDishes option').prop('selected', true);
        }

        function toggleDateSelection(element) {
            $(element).toggleClass('selected');
            $(element).find('.date-checkbox').prop('checked', function (i, value) {
                return !value;
            });
            validateSelectedDates(); // Validate after selecting/deselecting date
            updateSelectedDates();
        }

        function validateSelectedDates() {
            var anySelected = $('.date-label.selected').length > 0; // Check if any date is selected
            if (anySelected) {
                $('#dateValidationError').hide();
            } else {
                $('#dateValidationError').show();
            }
        }
        function updateSelectedDates() {
            var selectedDates = [];
            $('.date-label.selected').each(function () {
                selectedDates.push($(this).data('date'));
            });
            $('#SelectedDate').val(selectedDates.join(','));
        }
        $('form').submit(function () {
            updateSelectedDishes();
            updateSelectedDates();
            var anySelected = $('.date-label.selected').length > 0;
            if (!anySelected) {
                $('#dateValidationError').show();
                return false;
            }
        });

    </script>
}
